{% extends "admin/admin.html" %}
{% block css %}
<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: middle;
        text-align: left;
    }

    .td_bd {
        font-weight: bold;
    }
</style>
{% endblock %}
{% block content %}
<section class="content-header">
    <h1>原型系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 会员管理</a></li>
        <li class="active">添加用户</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加用户</h3>
                </div>
                {% include 'admin/alert_info.html' %}
                <form role="form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="input_name" style="margin-left: 10px"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;{{
                                form.name.label }}</label>
                            {{ form.name }}
                        </div>
                        {% for err in form.name.errors %}
                        <div class="col-md-12" style="color: red">{{ err }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_email" style="margin-left: 10px"><span
                                    class="glyphicon glyphicon-envelope"></span>&nbsp;{{
                                form.email.label }}</label>
                            {{ form.email }}
                        </div>
                        {% for err in form.email.errors %}
                        <div class="col-md-12" style="color: red">{{ err }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_phone" style="margin-left: 10px"><span
                                    class="glyphicon glyphicon-phone"></span>&nbsp;{{
                                form.phone.label }}</label>
                            {{ form.phone }}
                        </div>
                        {% for err in form.phone.errors %}
                        <div class="col-md-12" style="color: red">{{ err }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_password" style="margin-left: 10px"><span
                                    class="glyphicon glyphicon-lock"></span>&nbsp;{{
                                form.pwd.label }}</label>
                            {{ form.pwd }}
                        </div>
                        {% for err in form.pwd.errors %}
                        <div class="col-md-12" style="color: red">{{ err }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_repassword" style="margin-left: 10px"><span
                                    class="glyphicon glyphicon-lock"></span>&nbsp;{{
                                form.repwd.label }}</label>
                            {{ form.repwd }}
                        </div>
                        {% for err in form.repwd.errors %}
                        <div class="btn-primary" style="color: red">{{ err }}</div>
                        {% endfor %}

                        <div class="box-footer" style="text-align: center">
                            {{ form.csrf_token }}
                            {{ form.submit }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $("#g-5").addClass("active");
        $("#g-5-2").addClass("active");
    });
</script>
{% endblock %}